In [1]:
import pandas as pd
import numpy as np
from KPrototypes_plus import KPrototypes_plus
from kmodes.kprototypes import KPrototypes

In [2]:
columns = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num']
df = pd.read_csv('processed.cleveland.csv', names = columns).iloc[:,:-1]
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0

In [3]:
df = df.replace(to_replace='?', value = np.nan)
df = df.dropna(axis = 0)
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [4]:
df['ca'] = df['ca'].astype('float64')
df['thal'] = df['thal'].astype('float64')

In [5]:
df = df.sample(frac=15, replace=True)
df.shape

(4455, 13)

In [8]:
%%time
for _ in range(10):
    k_prototype_plus = KPrototypes_plus(n_clusters = 4, n_init = 4, n_jobs = -1)
    k_prototype_plus.fit_predict(X = df, categorical = [1,2,5,6,8,10,12])

CPU times: user 298 ms, sys: 9.24 ms, total: 308 ms
Wall time: 13.4 s

In [9]:
%%time
for _ in range(10):    
    k_prototype_normal = KPrototypes(n_clusters = 4, n_init = 4, n_jobs = -1, init = 'Cao')
    k_prototype_normal.fit_predict(X = df, categorical = [1,2,5,6,8,10,12])

CPU times: user 2.14 s, sys: 18.2 ms, total: 2.16 s
Wall time: 1min 41s